<ng-container *ngIf="!isFinal(currentNode)">
  <strong>QUESTION:</strong> {{ currentNode.description }}
  <br>
  <br>
  <button (click)="yes()" class='btn btn-info'>Yes</button>
  &nbsp;
  <button (click)="no()" class='btn btn-info'>No</button>
  &nbsp;
  <button (click)="reset()" class='btn btn-info'>Reset</button>
</ng-container>

<ng-container *ngIf="isFinal(currentNode)">
  <ul>
    <li *ngFor="let item of decisionTree">
      <ng-container *ngIf="item.index != decisionTree.length - 1">
        <strong>Question: </strong> {{item.node.description}} <u>{{item.node.decision ? 'YES' : 'NO'}}</u>
      </ng-container>

      <ng-container *ngIf="item.index == decisionTree.length - 1">
        <strong [style.color]="'green'">ANSWER: </strong> {{item.node.description}}
      </ng-container>
    </li>
  </ul>
  <button (click)="reset()" class='btn btn-info'>Reset Decision Tree Results</button>
  <button (click)="proceed()" class='btn btn-info'>Proceed to Phase-2: Fuzzy TOPSIS</button>
  <li class="list-inline-item"><a (click)="proceed()" class="btn btn-info" routerLink="/alternatives">Phase-2: Fuzzy
    TOPSIS</a></li>

</ng-container>
<br>
<br>


<hr/>
<span>Current node JSON</span>&nbsp;
<button (click)="nodeJSONhidden = !nodeJSONhidden">Show/hide</button>
<pre [hidden]="nodeJSONhidden">
    {{ currentNode | json }}
</pre>
<br>
<br>
<span>Decision Tree JSON</span>&nbsp;
<button (click)="treeJSONhidden = !treeJSONhidden">Show/hide</button>
<pre [hidden]="treeJSONhidden">
    {{ decisionTree | json }}
</pre>
