<ng-container *ngIf="!isFinal(currentNode)">
  <strong>QUESTION:</strong> {{ currentNode.description }}
  <br>
  <button (click)="yes()">Yes</button>
  &nbsp;
  <button (click)="no()">No</button>
</ng-container>

<ng-container *ngIf="isFinal(currentNode)">
  <ul>
    <li *ngFor="let item of decisionTree">
      <ng-container *ngIf="item.index != decisionTree.length - 1">
        <strong>Q: </strong> {{item.node.description}} <u>{{item.node.decision ? 'YES' : 'NO'}}</u> -->&nbsp;
      </ng-container>

      <ng-container *ngIf="item.index == decisionTree.length - 1">
        <strong [style.color]="'red'">ANSWER: </strong> {{item.node.description}}
      </ng-container>
    </li>
  </ul>
</ng-container>
<br>
<br>
<button (click)="reset()">RESET</button>

<hr/>
<span>Current node JSON</span>&nbsp;
<button (click)="nodeJSONhidden = !nodeJSONhidden">Show/hide</button>
<pre [hidden]="nodeJSONhidden">
    {{ currentNode | json }}
</pre>
<br>
<br>
<span>Decision Tree JSON</span>&nbsp;
<button (click)="treeJSONhidden = !treeJSONhidden">Show/hide</button>
<pre [hidden]="treeJSONhidden">
    {{ decisionTree | json }}
</pre>
